body {
  margin: 20px;
  background-color:orange;
}
.dropdown{
  position:relative;
  display:inline-block;
  align:center;
}

.list{
  display:none;
}
.dropdown:hover .list{
  display:block;
}



